{% extends 'meta/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">

    <div class="row">
                <div class="col-md-2" style="background-color: chocolate;">
                <h2>Dashboard</h2>

                <style>
                    ul{
                        list-style-type: none;
                    }
                </style>
                <ul>
                    <li><a href="">AddPost</a></li>
                    <li><a href="">Teammember</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Category</a></li>
                    <li><a href="">comment</a></li>
                </ul>
                </div>
   


        <div class="col-md-10">


        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
        </div>
        </div>

    </div>
</div>
  {% endblock %}